# Pulling Data From TMDB

## Importing Inital Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os, json, math, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

In [2]:
with open('/Users/aliss/.secret/tmd_api.json', 'r') as f:
    login = json.load(f)
    
login.keys()

dict_keys(['access-token', 'api-key'])

In [3]:
tmdb.API_KEY =  login['api-key']

In [4]:
os.makedirs('Data/',exist_ok=True) 
os.listdir("Data/")

['title.akas.tsv.gz', 'title.ratings.tsv.gz', 'title_basics.csv.gz']

In [5]:
def write_json(new_data, filename):
    
    with open(filename,'r+') as file:
        file_data = json.load(file)
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        file.seek(0)
        json.dump(file_data, file)

In [6]:
basics = pd.read_csv(r"C:\Users\aliss\Data\title_basics.csv.gz")

## Seperating out 2000 and 2001

In [7]:
YEARS_TO_GET = [2000,2001]

In [8]:
errors = [ ]

In [13]:
for YEAR in tqdm_notebook(YEARS_TO_GET, 
                          desc='YEARS',
                          position=0,
                          leave=True):

SyntaxError: incomplete input (3686010215.py, line 4)

In [ ]:
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

In [ ]:
file_exists = os.path.isfile(JSON_FILE)

In [ ]:
df = basics.loc[ basics['startYear']==YEAR].copy()

movie_ids = df['tconst'].copy()

In [ ]:
previous_df = pd.read_json(JSON_FILE)

In [ ]:
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

In [ ]:
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            temp = get_movie_with_rating(movie_id)
            write_json(temp,JSON_FILE)
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])

In [ ]:
final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [ ]:
print(f"- Total errors: {len(errors)}")

In [ ]:
previous_df = read_and_fix_json(JSON_FILE)

## Exploratory Data Analysis

In [ ]:
#Load in your csv.gz's of results for each year extracted

In [ ]:
#How many movies had at least some valid financial information

In [ ]:
#How many movies are there in each of the certification categories

In [ ]:
#What is the average revenue per certification category?

In [ ]:
#What is the average budget per certification category?

## Deliverables