# TMDB SQL Creation

## Importing Tools

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os, json, math, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *

## Transformation on Basics

In [2]:
basics = pd.read_csv(r"C:\Users\aliss\Data\title_basics.csv.gz")
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,126,Drama
...,...,...,...,...,...,...,...,...
81705,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,74,Drama
81706,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,97,"Comedy,Drama,Fantasy"
81707,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,51,Drama
81708,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller"
81709,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History"

### Normalize Genre

In [3]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...
81705,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,74,Drama,[Drama]
81706,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81707,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,51,Drama,[Drama]
81708,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81709,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History","[Drama, History]"

In [4]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...
81708,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller",Action
81708,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller",Adventure
81708,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller",Thriller
81709,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History",Drama
81709,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History",History

In [5]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [6]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head

<bound method NDFrame.head of           tconst genres_split
0      tt0035423       Comedy
0      tt0035423      Fantasy
0      tt0035423      Romance
1      tt0062336        Drama
2      tt0069049        Drama
...          ...          ...
81708  tt9916190       Action
81708  tt9916190    Adventure
81708  tt9916190     Thriller
81709  tt9916362        Drama
81709  tt9916362      History

[153095 rows x 2 columns]>

In [7]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [8]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [9]:
## make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].replace(genre_map)
basics = basics.drop(columns='genres_split')

In [10]:
genre_lookup = pd.DataFrame({'genre_name' : genre_id_map.keys(),
                             'genre_iD' : genre_id_map.values()})
genre_lookup.head()

  genre_name  genre_iD
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

### Dropping Unneeded Data

In [11]:
basics = basics.drop(columns=['originalTitle', 'isAdult', 'titleType', 'genres', 'genre_id'])
basics

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70
2,tt0069049,The Other Side of the Wind,2018,122
3,tt0088751,The Naked Monster,2005,100
4,tt0096056,Crime and Punishment,2002,126
...,...,...,...,...
81705,tt9914942,Life Without Sara Amat,2019,74
81706,tt9915872,The Last White Witch,2019,97
81707,tt9916170,The Rehearsal,2019,51
81708,tt9916190,Safeguard,2020,95
81709,tt9916362,Coven,2020,92

## Saving MySQL Table

In [12]:
connection_str = "mysql+pymysql://root:Abs9410!!??@localhost/movies"

In [13]:
engine = create_engine(connection_str)

In [14]:
create_database(connection_str)

In [15]:
database_exists(connection_str)

True

In [16]:
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

The database already exists

In [17]:
basics.to_sql('title_basics', engine, if_exists = 'replace')

81710

In [18]:
title_genres.to_sql('title_genres', engine, if_exists = 'replace')

153095

In [19]:
genre_lookup.to_sql('genres', engine, if_exists = 'replace')

26

In [20]:
rating = pd.read_csv(r"C:\Users\aliss\Data\title.ratings.tsv.gz")
rating

           tconst  averageRating  numVotes
0       tt0000001            5.7      1969
1       tt0000002            5.8       263
2       tt0000005            6.2      2612
3       tt0000006            5.1       181
4       tt0000007            5.4       818
...           ...            ...       ...
497869  tt9916200            8.1       229
497870  tt9916204            8.1       262
497871  tt9916348            8.3        18
497872  tt9916362            6.4      5320
497873  tt9916428            3.8        14

[497874 rows x 3 columns]

In [21]:
rating.to_sql('title_ratings', engine, if_exists = 'replace')

497874

In [22]:
f2000 = pd.read_csv(r"C:\Users\aliss\Data\final_tmdb_data_2000.csv.gz")
f2000

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.116,2194.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232,tt6174238,0.0,NaN,NaN,0.0,"[{'id': 80, 'name': 'Crime'}]",NaN,223878.0,cn,冷战,...,0.0,0.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Cold War,0.0,2.000,2.0,NaN
1233,tt7029820,0.0,NaN,NaN,7000.0,[],NaN,604889.0,en,Scream For Christmas,...,0.0,80.0,[],Released,NaN,Scream For Christmas,0.0,0.000,0.0,NaN
1234,tt7197642,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,872676.0,en,"Goodbye, Merry-Go-Round",...,0.0,90.0,[],Released,NaN,"Goodbye, Merry-Go-Round",0.0,0.000,0.0,NaN
1235,tt7631368,0.0,/sF0gUHE0YzZNXYugTB2LFxJIppf.jpg,NaN,10000000.0,"[{'id': 27, 'name': 'Horror'}]",NaN,97186.0,fr,"I, Vampire",...,0.0,85.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,"I, Vampire",0.0,6.400,4.0,NR
1236,tt7802790,0.0,/etxml2M8GQzb31jcH0cdA489WCX.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,610992.0,fa,مومیایی ۳,...,0.0,98.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,The Mummy 3,0.0,7.000,1.0,NaN

In [23]:
f2000.to_sql('tmdb_data_2000', engine, if_exists = 'replace')

1237

In [24]:
f2001 = pd.read_csv(r"C:\Users\aliss\Data\final_tmdb_data_2001.csv.gz")
f2001

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.327,1188.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.536,124.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,tt7797670,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,956214.0,en,Edmund Kemper Part 2: La Mort C'est La Vie,...,0.0,91.0,[],Released,NaN,Edmund Kemper Part 2: La Mort C'est La Vie,0.0,0.000,0.0,NaN
1327,tt7797790,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,956219.0,en,Edmund Kemper Part 3: La mort sévit,...,0.0,72.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,Edmund Kemper Part 3: La mort sévit,0.0,0.000,0.0,NaN
1328,tt8665056,0.0,NaN,NaN,0.0,"[{'id': 37, 'name': 'Western'}]",http://skeletoncreekproductions.com/p-movie-br...,885436.0,en,Guns Along The Bravo,...,0.0,85.0,[],Released,Evil came to the Southwest until three blazing...,Guns Along The Bravo,0.0,0.000,0.0,NaN
1329,tt8795764,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",https://www.utahwolf.com/films/coming-soon-new...,871624.0,en,New Breed,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.000,0.0,NR
1330,tt9071078,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}]",NaN,201706.0,cn,致命密函,...,0.0,90.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Chinese Heroes,0.0,3.000,2.0,NaN

In [25]:
f2001.to_sql('tmdb_data_2001', engine, if_exists = 'replace')

1331

In [26]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4   tmdb_data_2000
5   tmdb_data_2001